// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

// body {
//     height: 100vh;
// }

.container {
    height: auto;
}

// Register page

.auth-container {
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.form-singup input[type="email"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-singup input[type="text"],
.password-input{
    margin-bottom: -1px;
    border-radius: 0;
}

.confirm-password-input{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

// Home page
.titel-item {
    width: calc(100% / 7);
    box-sizing: border-box;
}

.titel-item a {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    text-decoration: none;
    color: black;
}

.titel-item-imageSection {
    position: relative;
    transition: 0.3s;
}

.titel-item-imageSection:hover {
    transform: scale(1.05);
}

.titel-item-imageSection img {
    border: 1px solid transparent;
    border-radius: 20px;

    max-width: 100%;
    height: 235px;
}

.titel-item-textSection {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;

    font-weight: bold;
}

.titel-item-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.5s ease;
    border: 1px solid transparent;
    border-radius: 20px;
}

.titel-item-imageSection:hover .titel-item-overlay {
    opacity: 1;
}

// .titel-item-info {

// }

.score-info {
    font-weight: bolder;
}

.score-info::first-letter {
    font-size: 18px;
}


// Title page

.title-header-info {
    display: flex;
    gap: 10px;
}

.title-header-img img {
    border: 1px solid transparent;
    border-radius: 20px;

    filter: brightness(70%);
}

.title-info {
    line-height: 26px;
}

.title-info-text {
    display: flex;
    align-items: center;
}

.title-info-value {
    margin-left: 50px;
}

.title-video iframe{
    border-radius: 5px;
    aspect-ratio: 16 / 9;
}

.episode-item {
    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    background-color: gray;

    border: 1px solid white;
    border-radius: 10px;
}