// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

body {
    height: 100vh;    
}

#app {
    height: 100%;
}

.container {
    height: auto;
}

// Register page

.auth-container {
    height: 100%;
    width: 75%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.form-singup {
    border: 3px solid #dee2e6;
    border-radius: 10px;

    font-weight: bolder;
}

.form-singup h2 {
    border-bottom: 3px solid $light-color-main

}

.form-singup input[type="email"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-singup input[type="text"],
.password-input{
    margin-bottom: -1px;
    border-radius: 0;
}

.confirm-password-input{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

form .btn {
    background-color: $light-color-main;
}

form .btn:hover {
    background-color: $hover-light-color-main;
}

// Home page
.titel-item {
    width: calc(100% / 7);
    box-sizing: border-box;
}

.titel-item a {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    text-decoration: none;
    color: black;
}

.titel-item-imageSection {
    position: relative;
    transition: 0.3s;
}

.titel-item-imageSection:hover {
    transform: scale(1.05);
}

.titel-item-imageSection img {
    border: 1px solid transparent;
    border-radius: 20px;

    max-width: 100%;
    height: 235px;
}

.titel-item-textSection {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;

    font-weight: bold;
}

.titel-item-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.5s ease;
    border: 1px solid transparent;
    border-radius: 20px;
}

.titel-item-imageSection:hover .titel-item-overlay {
    opacity: 1;
}

.carousel-container {
    width: 100%;
}

.carousel .carousel__slide {
    display: block !important;
}

.carousel .carousel__next, .carousel .carousel__prev{
    background-color: $hover-light-color-main;
    border-radius: 50px;
    padding: 5px;
}

.carousel .carousel__pagination-button::after{
    background-color: $light-color-main;
}

.carousel .carousel__pagination-button--active::after{
    background-color: $hover-light-color-main;
}

.carousel-titel-item-container {
    width: 100%;
    padding: 0 10px;
}

.carousel-titel-item-imageSection img {
    max-width: 100%;
    height: 235px;
}

.carousel-title {
    border-color: transparent;
    border-bottom: 3px solid $hover-light-color-main;
    background-color: #dee2e6;
    text-align: center;
}

.carousel a {
    text-decoration: none;
    color: black;
}

.carousel .titel-item-textSection {
    width: 75%;
    margin: 0 auto;
}

.score-info {
    font-weight: bolder;
}

.score-info::first-letter {
    font-size: 18px;
}

.show-more-btn {
    border: 3px solid $light-color-main;

    color: $light-color-main
}

.show-more-btn:hover {
    border: 3px solid $hover-light-color-main;

    color: $hover-light-color-main
}

// Title page

.title-header-info {
    display: flex;
    gap: 20px;
}

.title-header-img img {
    border: 1px solid transparent;
    border-radius: 20px;

    filter: brightness(70%);
}

.title-info {
    line-height: 26px;
}

.title-info-text {
    display: flex;
    align-items: center;
}

.title-info-text span{
    font-weight: 600;
}

.title-info-value {
    margin-left: 50px;
}

.title-video iframe{
    border-radius: 5px;
    aspect-ratio: 16 / 9;
}

.episodes-selector-title {
    border-bottom: 3px solid $light-color-main;
}

.episode-item {
    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $light-color-main;

    transition: 0.3s;

    border: 1px solid white;
    border-radius: 10px;
}

.episode-item a{
    color: white;

    text-decoration: none;
}

.episode-item:hover {
    background-color: $hover-light-color-main;

    transform: scale(1.05);
}


// User page

.logout-btn:hover {
    border: 3px solid black;
    background-color: rgb(220 53 69);
}

// Nav bar

.search-results-dropdown {
    position: absolute;
    z-index: 1000;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.list-group-item {
cursor: pointer;
}

.list-group-item:hover {
background-color: #f8f9fa;
}

// Comments

.comment {
    padding: 10px;
    margin: 10px;

    border-bottom: 1px solid $light-color-main;
}

.comment-top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-bottom: 10px;
}

.comment a {
    margin-bottom: 10px;
}

// .comment-textarea {
//     overflow: hidden;
// }

.comment-stats span {
    padding-right: 10px;

    font-weight: 600;
}