// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


body {
    margin: 0;
    height: 100vh;
}

// Register page

.auth-container {
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.form-singup input[type="email"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-singup input[type="text"],
.password-input{
    margin-bottom: -1px;
    border-radius: 0;
}

.confirm-password-input{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}